.code-logo {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
}

.code-header {
    padding: 20px 0 20px 50px;
}

.code-header-inverse {
    background-color: #242424;
}

.code-header-inverse .code-logo {
    color: #ffffff;
}

.code-cta {
    margin-bottom: 80px;
}

.code-btn-cta, .code-btn-cta:hover, .code-btn-cta:focus {
    background-color: rgb(214, 35, 92);
    border-color: #ffffff;
}

.code-headline {
    margin-bottom: 40px;
}

.code-headline p {
    margin-bottom: 22px;
}

.code-benefits  {
    padding-bottom: 50px;
}

.code-footer {
    background-color: #2b2b2b;
}

.code-product-thumb {
    width: 300px;
}

.code-action-required {
    border-bottom: 0;
    padding-top: 35px;
}

.code-ul-example li {
    padding-left: 20px;
    font-style: italic;
}

.code-arrow-bottom:after { left: 50%; bottom: -50px; position: absolute; content: ""; border: 25px solid; border-color: #ffffff transparent transparent transparent; display: block; margin-left: -13.5px;}

.with-less-padding{
    padding-bottom: 20px;
}


.code-cta-price input, .code-cta-price input:focus {
    border: 0;
    padding: 15px 15px;
    font-size: 17px;
    color: #333333;
    outline: none;
    width: 300px;
    float: left;
    height: 54px;
    margin-left: 47px;
}

.code-cta-price button {
    float: left;
    height: 54px;
}

.code-hl-less-padding, p.code-hl-less-padding {
    margin-bottom: 26px;
}

.code-separator45 {
    margin: 45px 0;
}

.code-thank-you-icon {
    color: forestgreen;
}

.code-thank-you-section {
    padding: 210px 0;
}

.code-return {
    margin-top: -10px;
}